<h1>Burger NOM NOM</h1>

<h2>Current  Burger Menu</h2>
<div class="container">
    <div class="currentMenu">
        <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <li>{{burger_name}}<button data-id={{id}} class='deleteButton'>Eat me!</button></li>
            {{/unless}}            
        {{/each}}
        </ul>
    </div>
    <h2>Burgers that have been Eaten</h2>
    <div class="nomNomList"></div>
        <ul>
        {{#each burgers}}
           {{#if devoured}}
                <li>{{burger_name}}</li>
            {{/if}}     
        {{/each}}
        </ul>
    </div>
</div>

<h2>Add a Burger</h2>

<div class="container">
    <form class="create-form">

    <div class="form-group">
        <label for="burgerAdd">Burger Name:</label>
        <input type="text" id="burgerAdd">
    </div>

    <button type="submit" id="addButton">Add Burger</button>
    </form>
</div>